@font-face { font-family: 'BisonsFont'; src: url(../fonts/BlairMdITCTTMedium.ttf) }
body#tinymce { font-weight:300; font-size: 1em; line-height:1.6em; font-family: 'Ubuntu', serif; }
h1 { font-family: 'BisonsFont', sans-serif; text-align:center; font-size:40px; }
h1 {  font-size:40px; }
h2 {  font-size: 1.8em; line-height:1.3em; 	margin-bottom:1%; font-weight:normal;}
h3 { margin: 1em 0 0.3em 0; font-weight:300;  font-style:italic}
h4 { font-weight: bold; margin-top:1em; 	 }
a {  text-decoration:none; color:#FF5ABB; }
a:hover { text-shadow: 0px 0px 2px rgba(150, 150, 150, 1); }
h2 a:hover { text-shadow:2px 2px 2px rgba(150, 150, 150, 1); }
p { margin-bottom:0.7em;  }
* { margin:0 ; padding:0; }
img.alignleft  { float:left; margin-right:1em;}
img.alignnone, img.aligncenter, img.alignright { float:right; margin-left:1em;  }
img { max-width:60%; height:auto;}
table { width:100%; margin:0 0 1em 0;  border-spacing:5px; }
th { font-size:1.4em; text-align: center;}
td { text-align:left } 
td, th { padding: 0.5em; background:#F7F7F7; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; line-height:1.2em; border: 1px solid #EBEBEB;}
ol, ul { margin-left: 1em; margin-bottom: 1em;}
